$blue: #1a237e;
$light-blue: #1f2a97;
$dark-blue: #10154b;

$text: #050719;
$light-text: #b2b8ef;

// desktop-first
$desktop-width: "min-width: 1200px";
$tablet-width: "min-width: 768px" and "max-width: 1199px";
$mobile-width: "max-width: 767px";
