.btn {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  background: $blue;
  color: #ffffff;
  padding: 12px 35px 15px;
  border-radius: 5px;
  border: 1px solid $blue;
  transition: all 0.3s ease;

  &:hover {
    background: $light-blue;
    box-shadow: 0 1px 3px 3px #d8daf0;
  }

  &:active {
    background: $dark-blue;
    box-shadow: none;
  }

  &--white {
    z-index: 7;
    background: rgba(255, 255, 255, 0);
    border: 1px solid #ffffff;

    &:hover {
      background: rgba(255, 255, 255, 1);
      color: $dark-blue;
      box-shadow: none;
    }
  }

  &--spare {
    display: block;
    width: 400px;
    margin: 0 auto;
  }
}
