.about {
  font-size: 0;
  @include clearfix;

  &__block {
    width: 50%;
    float: left;
    box-sizing: border-box;

    @media ($tablet-768) {
      width: 100%;
      float: none;
    }

    &--text {
      padding: 80px 6% 60px;
      @media ($tablet-1024) {
        padding: 65px 6% 40px;
      }
      @media ($tablet-768) {
        padding: 50px 15px 40px;
        margin: 0 auto;
        width: 768px;
      }
      @media ($mobile-width) {
        width: 94%;
        padding: 20px 3%;
      }
    }

    &--image {
      background-color: $blue;
      background-image: url("../img/about-bg-1920.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @media ($desktop-1600) {
        background-image: url("../img/about-bg-1600.jpg");
      }

      @media ($desktop-1366) {
        background-image: url("../img/about-bg-1366.jpg");
      }

      @media ($tablet-768) {
        display: none;
      }

    }
  }

  &__title {
    @include title;
  }

  &__description {
    @include description;
    position: relative;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  li {
    padding-left: 26px;
  }

  li:after {
    position: absolute;
    background: $light-blue;
    height: 2px;
    width: 13px;
    left: 0;
    top: 12px;
    content: "";
  }

}
