.header {
  border-top: 3px solid $blue;
  padding: 30px 0;
  padding-bottom: 0;

  &__top-row {
    @include clearfix;
    padding-bottom: 30px;
    font-size: 15px;
  }

  &__logo {
    width: 135px;
    float: left;
    margin-right: 100px;
  }

  &__contacts {
    float: right;
    max-width: 250px;
    margin-left: 100px;
  }
}
