.suppliers {
  font-size: 0;
  background: #fbfbfb;
  text-align: center;

  &__row {
    border-top: 2px solid #f6f5f5;
    &:last-child {
      border-bottom: 2px solid #f6f5f5;
    }
  }
}

.supplier {
  display: inline-block;
  vertical-align: middle;
  width: 16.666666%;
  box-sizing: border-box;
  position: relative;
  padding: 45px 2.6%;

  &:after {
    position: absolute;
    right: 0;
    height: 140px;
    width: 2px;
    background: #f6f5f5;
    content: "";
    transform: translateY(-50%);
    top: 50%;
  }

  &:last-child:after {
    display: none;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
