.why-us {
  box-sizing: border-box;
  background-color: #4451d8;
  color: #ffffff;
  background-image: url("../img/why-us.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
  padding: 50px 0;

  &__padding {
    padding-left: 350px;
    @media ($tablet-768) {
      padding-left: 0px;
    }
  }

  &:before {
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
  }

  &__title {
    @include title;
    border-bottom: 2px solid #ffffff;
  }

  &__description {
    @include description;
  }

  .btn {
    margin-top: 15px;
  }
}
